*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(assets/MockTilesheetBG.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior:smooth;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*-----------------------main container-----------------------*/

#mainWrapper{
    margin-top: 5%;
    background: linear-gradient(90deg, #4aa0ba 50%, #303030 50%);
    height: 90%;
    width: 80%;
}
/*-----------------------header section-----------------------*/

header{
    padding: 20px;
}
/*'about me' quarter circle*/

nav>#quarterCircleWrapper{
    flex:1;
}
#quarterCircle{
    width: 150px;
    height: 150px;
    margin: -20px;
    background: whitesmoke;
    border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 150px 0;
    -webkit-border-radius: 0 0 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px white;
    flex: 1;
    
}
#quarterCircle>a{
    color: #4aa0ba;
    text-decoration: none;
    width: 100%;
    text-align: center;
    flex-basis: 20%;
    padding-bottom: 10px;
    transition: 0.2s;
}
#quarterCircle>a:hover{
    transform: translateY(-5px);
}
#quarterCircle>a>p{
    flex-basis: 20%;
    font-size: 32px;
    
}
#quarterCircle>a>#aboutWord{
    font-size: 22px;
    padding-right: 60px;
}

/*nav bar*/

nav{
    display: flex;
}
nav>ul{
    flex:1;
    display: flex;
    list-style: none;
    margin-left: 40px;
    align-items: center;
    text-align: center;
    font-size: 12px;
}
nav>ul>li,a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
nav>ul>li {
    flex: 1;
   
}

nav>ul>li a:hover{
    text-decoration: underline;
    }
nav>ul>li::before{
    content: "\2022"; 
    color: #4aa0ba;
    font-weight: bold; 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
nav>.githubWrapper{
    flex: 0.1;
    transition: 0.2s;
    margin: auto;
}

nav>.githubWrapper:hover{
    transform: translateY(-5px);
}
#hamburgerNavbar{
    display: none;
}
#hamburgerBtn{
    display: none;
}
/*-----------------------header text-----------------------*/


#headerName{
    margin-top: 100px;
    display: flex;
    font-size: 40px;
}
#headerName>#fName{
    padding: 10px;
    color: #303030;
    flex: 1;
    text-align: right;
    letter-spacing: 4px;
    
}
#headerName>#sName{
    padding: 10px;
    color: #4aa0ba;
    flex: 1;
    text-align: left;
    letter-spacing: -2px;
}
#headerDescription{
    margin: 40px auto;
    width: 320px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    }
#headerDescription>h2{
    background: #4aa0ba;
    margin-bottom: 0px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#headerDescription>h4{
    background: #303030;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-----------------------personal description/skills-----------------------*/


main{
    background: radial-gradient(white,whitesmoke,whitesmoke, lightgray);
    margin: auto;
}
section{
    padding: 40px;
    width: 100%;
}
#section1-col-1{
    display: flex;
}

#personalStatementWrapper{
    margin: 20px 0px 20px 20px;
    padding: 0 80px;
    flex: 1;
    text-align: center;
    font-size: 11px;

}
#quarterCircleWrapper2{
    flex-basis: 15px;
    display: flex;
    }
#quarterCircle2{
    width: 200px;
    height: 200px;
    margin: -40px -40px 0px 0px;
    background: #4aa0ba;
    border-radius: 0 0 0 200px;
    -moz-border-radius: 0 0 0 200px;
    -webkit-border-radius: 0 0 0 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding-left: 40px;
}
#quarterCircle2>a{
    color: white;
    text-decoration: none;
   
    text-align: center;
    padding-bottom: 30px;
    transition: 0.2s;
}
#quarterCircle2>a>p{
    padding: 5px;
    font-size: 24px;
}
#quarterCircle2>a>img{
    filter: invert();
}


#personalStatementWrapper> h1, h3{
}


#skillUlWrapper{
    text-align: center;
    margin-bottom: 10px
    
}
#skillUlWrapper>h3{
    margin-bottom: 10px
        
}

#skillUlWrapper>ul{
    display: inline-block;
    flex-direction: row;
    width: 100%;
    margin: auto;
}
#skillUlWrapper>ul>.skillHeader{
    margin: 10px 20px;
    min-width: 150px;
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 180px;
    background: white;
    color: #4aa0ba;
    vertical-align: top;
    box-shadow: 0px 0px 5px lightgray;
    
}
#skillUlWrapper>ul>.skillHeader>h3{
    padding-top: 25px ;
    text-align: center;
    font-size: 20px;
}   
#skillUlWrapper>ul>.skillHeader>.liWrapper{
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 128px;
}
#skillUlWrapper>ul>.skillHeader>.liWrapper>li{
    font-size: 12px;
    color: #303030;
    list-style: none;
    margin: auto;
}



#knowledgeOfUlWrapper{
    text-align: center;
}
#knowledgeOfUlWrapper>h5{
    margin-bottom: 10px;
    
}
#knowledgeOfUlWrapper>ul{
}
#knowledgeOfUlWrapper>ul>.KnowHeader{ 
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    display: inline-block;
    text-align: center;
    background:#a8cee0;
    color: #303030;
    vertical-align: top;
    box-shadow: 0px 0px 5px lightgray;  
}
.KnowHeader>h6{
    font-size: 12px;
    padding: 5px 0; 
}
.KnowHeader>ul{
    height: 69px;
    display: flex;
    flex-direction: column;
}
.KnowHeader>ul>li{
    font-size: 11px;
    color: #303030;
    list-style: none;
    margin: auto;
    flex: 1;
}
#section2Break{
    background: #4aa0ba;
    padding: 30px;
}

/*-----------------------project thumbnails-----------------------*/


#thumbnailSection{
   
}

/* thumbnail filter buttons */
#projectFilterWrapper{
    margin-top: 40px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    background: white;
    box-shadow: 0 0 5px lightgray;
}
.categoryBtnStyle{
    height: 30px;
    max-width: 150px;
    background: white;
    border: solid 2px #4aa0ba;
    flex: 1;
    transition: 0.2s;
    font-size: 11px;

}
.categoryBtnStyle:hover{
    cursor: pointer;
    background:#4aa0ba;
    
    color: white;
}
.categoryBtnAllStyle{
    margin-left: 40px;
    background: #4aa0ba;
    height: 30px;
    max-width: 150px;
    flex: 1;
    transition: 0.2s;
    font-size: 11px;
}

/* thumbnails layout*/

#portThumbnailWrapper{
    text-align: center;
    width: 90%;
    margin: auto;

    overflow: hidden;

}
#portThumbnailWrapper>.thumbnail{
    float: left;
    margin: auto;
    width: 20%;
    margin: 2.5%;
    text-align: left;
    transition: 0.2s;
    vertical-align: top;
    background: white;
    box-shadow: 0 0 5px lightgray;
    
  }
  #portThumbnailWrapper>.thumbnail::before{
    content: "";
	  float: left;
  	padding-top: 0%;
  }
  #portThumbnailWrapper>.thumbnail>img{
    width: 100%;
   
    
  }
.thumbnail>p, small{
    padding-left: 10px;
}

.thumbnail:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.thumbnailBtn{
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
    
    padding: 5px 20px;
    
    background: white;
    border: solid 2px #4aa0ba;
    flex: 1;
    transition: 0.2s;
    font-size: 11px;
    color: #303030;
  }
  .thumbnailBtn>a{
      color:#303030 ;
  }
#modal{
    position: fixed;
    background: #303030;
    opacity: 0.9;
    border-bottom: 2px solid #eaeaea;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 999;
    /* MAGIC HAPPENS HERE */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    display: none;
    transition: 0.2s;
}
#modalImgContainer{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 9994;
    /* MAGIC HAPPENS HERE */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    display: none;
        transition: 0.2s;

}
#img01{
    margin: auto;
    height: 400px;
    width: 400px;
    z-index: 9999;

}

#closeModal{
    position: absolute;
    height: 60px;
    width: 60px;
    margin:auto;
    margin-left: 85%;
    margin-top: 40px;
    background: none;
    font-size: 40px;
    font-weight: 900;
    color: white;
    border: none;
 
}
#closeModal:hover{
    cursor: pointer;
}

.thumbWebsites> button{
    border: solid 2px #4aa0ba;
    width: 100%;
    padding: 12px 0;
    background: #a8cee0;
    
    
}
.hide{
    display:none ;
}
/*-----------------------contact form-----------------------*/



#contactSection{
    background: #303030;
    border-top: solid 10px #4aa0ba;
  
}

#contactSection>form{
    width: 60%;
    margin: 40px auto;
    padding: 60px;
    border-radius: 20px;
    background: radial-gradient(white, whitesmoke);
    box-shadow: -2px 2px 10px black;
    display: flex;
    flex-direction: column;
    clear: both;
}
#contactSection>form>.formControl{
    margin: 10px 0;
    position: relative;

}
.formControl>input{
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    display: block;
    border-radius: 20px;
    border: none;
    box-shadow: -2px 2px 10px #ededed;
}
.formControl>input:focus{
    outline-width: 2px;
    outline-color: #4aa0ba;
    
}
.formControl.success input{
    border:solid 1px #2ecc71;
}
.formControl.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.formControl.error input{
    border:solid 1px #e74c3c;
}
.formControl.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}
.formControl.error small{
    color: #e74c3c;
    visibility: visible;
}
.formControl i {
    visibility: hidden;
    position: absolute;
    top: 15px;
    right: 10px;
}
.formControl small {
    visibility: hidden;
    
}
.formControl>textarea{
    
    margin: 20px auto;
    border: none;
    height: 100px;
    resize: none;
    box-shadow: -2px 2px 10px #ededed;
    width: 100%;

}

.formControl>textarea:focus{
    outline-width: 2px;
    outline-color: #4aa0ba;
    outline-color: #4aa0ba;

}
.formControl>#subBtn{
    margin: auto;
    height: 50px;
    width: 150px;
    border: solid 1px #303030;
}


/*-----------------------footer-----------------------*/

footer{
    padding:40px 0;
    border-bottom: solid 10px #4aa0ba;
    border-top: solid 10px #4aa0ba;
    background: #303030;
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 14px;
}
footer>ul>li a{
    color: whitesmoke;
    text-decoration: underline;
}
footer>ul>li a:hover{
    color: darkgray;
    text-decoration: none;
    
}
footer>ul{
    flex: 1;
      
    list-style-type: none;
}

footer>a{
  
}

footer>p{
    flex: 2;
    padding: 20px;
    font-size: 11px;

}
footer>.githubWrapper{
    transition: 0.2s;
    flex: 1;
}
footer>.githubWrapper:hover{
    transform: translateY(-5px);
}









































/*////////////////MEDIA QUERY\\\\\\\\\\\\\\\\*/
@media only screen and (max-width: 700px){
#headerName{
    margin-top: 100px;
    display: flex;
    font-size: 24px;
}
    nav{
    display: flex;
}
nav>ul{
    display: none;
    
}
#hamburgerBtn{
    margin: auto;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
#hamburgerBtn>img{
    height: 25px;
    width: 30px;
    filter: invert();
}    
#hamburgerNavbar{
    text-align: right;
    list-style: none;
    display: none;
}
#hamburgerNavbar>ul>li, a{
    text-decoration: none;
    padding: 5px 10px;
}
nav>.githubWrapper{
    flex: 0.1;
    transition: 0.2s;
    margin: auto;
}
nav>.githubWrapper>img{
    margin-right: 20px;
    width: 30px;
}
nav>.githubWrapper>p{
    display: none;
}
   
#quarterCircleWrapper2{
    flex-basis: 15px;
    display: flex;
    
    }
#quarterCircle2{
    width: 100px;
    height: 100px;
    margin: -40px -40px 0px 0px;
    background: #4aa0ba;
    border-radius: 0 0 0 100px;
    -moz-border-radius: 0 0 0 100px;
    -webkit-border-radius: 0 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding-left: 40px;
}
#quarterCircle2>a{
    color: white;
    text-decoration: none;
   
    text-align: center;
    padding-bottom: 30px;
    transition: 0.2s;
}
#quarterCircle2>a>p{
    padding: 5px;
    font-size: 14px;
}
#quarterCircle2>a>img{
    filter: invert();
    height: 30px;
    
}
}
    /*-----------------------contact form-----------------------*/

@media only screen and (max-width: 900px){

    #portThumbnailWrapper>.thumbnail{
    
        width: 40%;
        margin: 5%;
        
      }
#contactSection{
    background: #303030;
    border-top: solid 10px #4aa0ba;
    border-bottom: solid 10px #4aa0ba;

}
#contactSection>form{
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background: radial-gradient(white, whitesmoke);
    box-shadow: -2px 2px 10px black;

    display: flex;
    flex-direction: column;

}
#contactSection>form>input{
    margin: 10px 5px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: -2px 2px 10px #ededed;
}
#contactSection>form>input:focus{
    outline-width: 2px;
    outline-color: #4aa0ba;

}
#contactSection>form>textarea{
  
    margin: 20px auto;
    border: none;
    height: 100px;
    resize: none;
    box-shadow: -2px 2px 10px #ededed;
    width: 100%;

}
#contactSection>form>textarea:focus{
    outline-width: 2px;
    outline-color: #4aa0ba;
    outline-color: #4aa0ba;

}
#contactSection>form>.btn{
    margin: auto;
    width: 100px;
    background: lightGray;
}
}
@media only screen and (max-width: 480px){
    #mainWrapper{
    margin-top: 0%;
    background: linear-gradient(90deg, #4aa0ba 50%, #303030 50%);
    height: 100%;
    width: 100%;
}
    header{
    padding: 0px;
    height: 80vh; 
    }

    #quarterCircle{
    width: 100px;
    height: 100px;
    background: whitesmoke;
    border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 100px 0;
    -webkit-border-radius: 0 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px white;
    flex: 1;
    
}

    #quarterCircle>a>p{
    flex-basis: 20%;
    font-size: 22px;
    
}
    #quarterCircle>a>#aboutWord{
    font-size: 16px;
    padding-right: 0px;
        padding-top: 10px;
}
    /*nav bar*/




    /*-----------------------header text-----------------------*/


#headerName{
    margin-top: 100px;
    display: flex;
    font-size: 18px;
}
#headerName>#fName{
    color: #303030;
    flex: 1;
    text-align: right;
    letter-spacing: 2px;
}
#headerName>#sName{
    color: #4aa0ba;
    flex: 1;
    text-align: left;
}
#headerDescription{
    margin: 40px auto;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
#headerDescription>h2{
    background: #4aa0ba;
    margin-bottom: 0px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#headerDescription>h4{
    background: #303030;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}
    /*-----------------------personal description/skills-----------------------*/


main{
    background: radial-gradient(white,whitesmoke,whitesmoke, lightgray);
    margin: auto;
}
section{
    padding: 0px;
    width: 100%;
}
#section1-col-1{
    display: flex;
}

#personalStatementWrapper{
    padding: 0 0px;
    flex: 1;
    text-align: center;
    font-size: 11px;
}

#quarterCircle2{
    width: 100px;
    height: 100px;
    margin: 0px 0px 0px 0px;
    background: #4aa0ba;
    border-radius: 0 0 0 100px;
    -moz-border-radius: 0 0 0 100px;
    -webkit-border-radius: 0 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding-left: 40px;
}
section{

}

#personalStatementWrapper> h1, h3{
   
}


#skillUlWrapper{
    text-align: center;
    margin-bottom: 10px
    
}
#skillUlWrapper>h3{
    margin-bottom: 10px
        
}

#skillUlWrapper>ul{
    display: inline-block;
    width: 100%;
    margin: auto;
}
#skillUlWrapper>ul>.skillHeader{
    margin: 10px 20px;
    display: inline-block;
    text-align: center;
    min-width: 130px;
    width: 10px;
    height: 160px;
    background: white;
    color: #4aa0ba;
    vertical-align: top;
    box-shadow: 0px 0px 5px lightgray;

}
#skillUlWrapper>ul>.skillHeader>h3{
    padding-top: 25px ;
    text-align: center;
    font-size: 20px;

}   
#skillUlWrapper>ul>.skillHeader>.liWrapper{
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 104px;
}
#skillUlWrapper>ul>.skillHeader>.liWrapper>li{
    font-size: 12px;
    color: #303030;
    list-style: none;
    margin: auto;
}



#knowledgeOfUlWrapper{
    text-align: center;

}
#knowledgeOfUlWrapper>h5{
    margin-bottom: 10px;
    
}
#knowledgeOfUlWrapper>ul{
}
#knowledgeOfUlWrapper>ul>.KnowHeader{ 
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    display: inline-block;
    text-align: center;
    background:#a8cee0;
    color: #303030;
    vertical-align: top;
    box-shadow: 0px 0px 5px lightgray;  
}
.KnowHeader>h6{
    font-size: 12px;
    padding: 5px 0; 
}
.KnowHeader>ul{
    height: 69px;
    display: flex;
    flex-direction: column;
}
.KnowHeader>ul>li{
    font-size: 11px;
    color: #303030;
    list-style: none;
    margin: auto;
    flex: 1;
}
#section2Break{
    background: #4aa0ba;
    padding: 30px;
}
    
/*-----------------------project thumbnails-----------------------*/







#portThumbnailWrapper>.thumbnail{
    
    width: 100%;
    margin: 5% 0;
  }
  















/*-----------------------footer-----------------------*/

footer{
    padding:10px 0;
    border-bottom: solid 10px #4aa0ba;
    border-top: none;
    background: #303030;
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 14px;
}
footer>ul>li a{
    color: whitesmoke;
    text-decoration: underline;
}
footer>ul>li a:hover{
    color: darkgray;
    text-decoration: none;
    
}
footer>ul{
    flex: 1;
      
    list-style-type: none;
}

footer>a{
  
}

footer>p{
    flex: 2;
    padding: 20px;
    font-size: 11px;

}
footer>.githubWrapper{
    transition: 0.2s;
}
footer>.githubWrapper:hover{
    transform: translateY(-5px);
}


}